service uprobestats /apex/com.android.uprobestats/bin/uprobestats
    class main
    user uprobestats
    group uprobestats readproc
    capabilities PERFMON
    interface aidl uprobestats_service
    disabled
    oneshot
